Repository Quantium-Nonsense/ProjectOmega, pull requests merged in 2020-05, with the labels that each got.

#114 Testing integration
  RepClient/.gitignore
  RepClient/package-lock.json
  RepClient/package.json
  RepClient/src/app/auth/auth.page.spec.ts
  RepClient/src/app/auth/auth.page.ts
  RepClient/src/app/auth/store/auth.actions.ts
  RepClient/src/app/auth/store/auth.effects.ts
  RepClient/src/app/auth/store/auth.reducer.ts
Labels: Rep Frontend

#107 Unifying design
  .eslintrc.js
  AdminClient/src/app/app-routing.module.ts
  AdminClient/src/app/app.component.html
  AdminClient/src/app/app.component.spec.ts
  AdminClient/src/app/app.module.ts
  AdminClient/src/app/auth/auth.component.spec.ts
  AdminClient/src/app/auth/store/auth.actions.ts
  AdminClient/src/app/customers/customer-form/customer-form.component.ts
  AdminClient/src/app/customers/customers.component.html
  AdminClient/src/app/customers/customers.component.ts
  AdminClient/src/app/customers/store/customers.effects.ts
  AdminClient/src/app/dashboard/dashboard.component.ts
  AdminClient/src/app/models/products/products.model.ts
  AdminClient/src/app/products/product-details-dialog/product-details-dialog.component.ts
  AdminClient/src/app/products/products.component.html
  AdminClient/src/app/products/products.component.scss
  AdminClient/src/app/products/products.component.ts
  AdminClient/src/app/products/products.module.ts
  AdminClient/src/app/reducers/index.ts
  AdminClient/src/app/shared/components/table-filter/table-filter.component.spec.ts
  AdminClient/src/app/shared/components/table-filter/table-filter.component.ts
  AdminClient/src/app/shared/shared.module.ts
  AdminClient/src/app/shared/test/mat.module.ts
  AdminClient/src/app/shared/test/test.module.ts
  AdminClient/src/app/toolbar/store/toolbar.actions.ts
  AdminClient/src/app/toolbar/store/toolbar.effects.ts
  AdminClient/src/app/toolbar/store/toolbar.reducer.ts
  AdminClient/src/app/toolbar/toolbar.component.html
  AdminClient/src/app/toolbar/toolbar.component.spec.ts
  AdminClient/src/app/toolbar/toolbar.component.ts
  AdminClient/src/app/user/user.component.html
  AdminClient/src/app/user/user.component.spec.ts
  AdminClient/src/app/user/user.component.ts
  AdminClient/src/data/products/products-data.ts
  AdminClient/src/data/products/products-datasource.ts
Labels: Admin Frontend, DevOps

#116 Db populate fix
  Backend/src/main/java/com/project/omega/authentication/SetupDataLoaderForRoleAndPrivilege.java
  Backend/src/main/java/com/project/omega/authentication/WebSecurityConfig.java
  Backend/src/main/java/com/project/omega/bean/dao/auth/AdminRoles.java
  Backend/src/main/java/com/project/omega/repository/AdminRoleRepository.java
  Backend/src/main/java/com/project/omega/service/implmentations/AdminRoleServiceImpl.java
  Backend/src/main/java/com/project/omega/service/interfaces/AdminRoleService.java
Labels: Backend

#119 API access fix
  .gitignore
  Backend/src/main/java/com/project/omega/authentication/JwtRequestFilter.java
  Backend/src/main/java/com/project/omega/authentication/JwtTokenUtil.java
  Backend/src/main/java/com/project/omega/authentication/WebSecurityConfig.java
  Backend/src/main/java/com/project/omega/bean/dao/auth/Token.java
  Backend/src/main/java/com/project/omega/controller/JwtAuthenticationController.java
  Backend/src/main/java/com/project/omega/repository/TokenRepository.java
  Backend/src/main/java/com/project/omega/service/implmentations/TokenServiceImpl.java
  Backend/src/main/java/com/project/omega/service/implmentations/UserServiceImpl.java
  Backend/src/main/java/com/project/omega/service/interfaces/TokenService.java
  Backend/src/main/java/com/project/omega/service/interfaces/UserService.java
  Backend/src/main/resources/application.properties
Labels: Backend, DevOps

#118 Apk release pipeline
  azure-piplines-apk.yaml
Labels: Backend, DevOps

#122 Fix random tests failing
  AdminClient/package-lock.json
  AdminClient/package.json
  AdminClient/src/app/app.module.ts
  AdminClient/src/app/customers/customer-form/customer-form.component.html
  AdminClient/src/app/customers/customer-form/customer-form.component.spec.ts
  AdminClient/src/app/customers/customer-form/customer-form.component.ts
  AdminClient/src/app/customers/customers.component.html
  AdminClient/src/app/customers/customers.component.spec.ts
  AdminClient/src/app/customers/customers.component.ts
  AdminClient/src/app/shared/shared.module.ts
  AdminClient/src/app/user/edit-user/edit-user.component.spec.ts
  AdminClient/src/app/user/edit-user/edit-user.component.ts
Labels: Admin Frontend

#92 fixed node version to 12.16
  .travis.yml
  AdminClient/Dockerfile
Labels: Admin Frontend, DevOps

#124 Response codes
  Backend/src/main/java/com/project/omega/exceptions/ClientNotFoundException.java
  Backend/src/main/java/com/project/omega/exceptions/NoRecordsFoundException.java
  Backend/src/main/java/com/project/omega/exceptions/NoRolesCreatedException.java
  Backend/src/main/java/com/project/omega/exceptions/ProductNotFoundException.java
  Backend/src/main/java/com/project/omega/exceptions/UserNotFoundException.java
Labels: Backend

#126 Cors fix (maybe)
  Backend/src/main/java/com/project/omega/authentication/WebSecurityConfig.java
  Backend/src/main/java/com/project/omega/controller/SupplierController.java
Labels: Backend

#127 Another CORS attempt.
  Backend/src/main/java/com/project/omega/controller/JwtAuthenticationController.java
Labels: Backend

#128 Changed no records repsonses from messages to empty lists.
  Backend/src/main/java/com/project/omega/controller/ProductController.java
  Backend/src/main/java/com/project/omega/controller/SupplierController.java
  Backend/src/main/java/com/project/omega/controller/UserController.java
Labels: Backend

#129 Sendgrid secrets
  Backend/src/main/resources/application.properties
  Devops/k8s/backend-deployment2.yaml
  Devops/k8s/frontend-deplyoment.yaml
  azure-piplines-apk.yaml
Labels: Backend, DevOps

#134 Removed passwords from user return list on /user/get.
  Backend/src/main/java/com/project/omega/bean/dao/entity/User.java
  Backend/src/main/java/com/project/omega/controller/UserController.java
Labels: Backend

#135 Orders
  AdminClient/package-lock.json
  AdminClient/package.json
  AdminClient/src/app/app-routing.module.ts
  AdminClient/src/app/models/orders/oder-product.model.ts
  AdminClient/src/app/models/orders/order.model.ts
  AdminClient/src/app/models/privileges/privilege.model.ts
  AdminClient/src/app/models/role/role.model.ts
  AdminClient/src/app/orders/order-details-dialog/order-details-dialog.component.html
  AdminClient/src/app/orders/order-details-dialog/order-details-dialog.component.scss
  AdminClient/src/app/orders/order-details-dialog/order-details-dialog.component.spec.ts
  AdminClient/src/app/orders/order-details-dialog/order-details-dialog.component.ts
  AdminClient/src/app/orders/orders-routing.module.ts
  AdminClient/src/app/orders/orders.component.html
  AdminClient/src/app/orders/orders.component.scss
  AdminClient/src/app/orders/orders.component.spec.ts
  AdminClient/src/app/orders/orders.component.ts
  AdminClient/src/app/orders/orders.module.ts
  AdminClient/src/data/orders/orders-data.ts
Labels: Admin Frontend

#95 update order by Id
  Backend/src/main/java/com/project/omega/authentication/WebSecurityConfig.java
  Backend/src/main/java/com/project/omega/controller/OrderController.java
  Backend/src/main/java/com/project/omega/service/implmentations/OrderServiceImpl.java
  Backend/src/main/java/com/project/omega/service/interfaces/OrderService.java
  Backend/src/main/resources/messages_en.properties
Labels: Backend

#136 Order create api now accepts order entity.
  Backend/src/main/java/com/project/omega/bean/dto/OrderProductDto.java
  Backend/src/main/java/com/project/omega/controller/OrderController.java
Labels: Backend

#137 Order products list fix.
  Backend/src/main/java/com/project/omega/bean/dao/entity/Order.java
  Backend/src/main/java/com/project/omega/controller/OrderController.java
Labels: Backend

#138 Order constructor fix
  Backend/src/main/java/com/project/omega/bean/dao/entity/Order.java
Labels: Backend

#139 Admin rep api integration
  AdminClient/src/app/app.module.ts
  AdminClient/src/app/customers/customers.component.spec.ts
  AdminClient/src/app/customers/customers.component.ts
  AdminClient/src/app/customers/store/customers.actions.ts
  AdminClient/src/app/customers/store/customers.effects.ts
  AdminClient/src/app/customers/store/customers.reducer.ts
  AdminClient/src/app/models/orders/order.model.ts
  AdminClient/src/app/orders/order-details-dialog/order-details-dialog.component.html
  AdminClient/src/app/orders/order-details-dialog/order-details-dialog.component.ts
  AdminClient/src/app/orders/orders.component.html
  AdminClient/src/app/orders/orders.component.ts
  AdminClient/src/app/orders/store/order.actions.ts
  AdminClient/src/app/orders/store/order.effects.ts
  AdminClient/src/app/orders/store/order.reducer.ts
  AdminClient/src/app/products/products.component.ts
  AdminClient/src/app/products/store/products.actions.ts
  AdminClient/src/app/products/store/products.effects.ts
  AdminClient/src/app/reducers/index.ts
  AdminClient/src/app/services/api-path.service.ts
  AdminClient/src/app/shared/model/order/order-status.model.ts
  AdminClient/src/app/shared/shared.module.ts
  AdminClient/src/app/user/store/user.actions.ts
  AdminClient/src/app/user/store/user.effects.ts
  AdminClient/src/app/user/store/user.reducer.ts
  AdminClient/src/app/user/user.component.spec.ts
  AdminClient/src/app/user/user.component.ts
  AdminClient/src/data/orders/orders-data.ts
  Backend/src/main/java/com/project/omega/bean/dao/entity/Client.java
  Backend/src/main/java/com/project/omega/bean/dao/entity/Order.java
  Backend/src/main/java/com/project/omega/bean/dao/entity/OrderProduct.java
  Backend/src/main/java/com/project/omega/bean/dao/entity/OrderProductPK.java
  Backend/src/main/java/com/project/omega/controller/OrderController.java
  Backend/src/main/java/com/project/omega/enums/OrderStatus.java
  Backend/src/main/java/com/project/omega/repository/OrderProductRepository.java
  Backend/src/main/java/com/project/omega/service/implmentations/ClientServiceImpl.java
  Backend/src/main/java/com/project/omega/service/implmentations/OrderProductServiceImpl.java
  Backend/src/main/java/com/project/omega/service/implmentations/OrderServiceImpl.java
  Backend/src/main/java/com/project/omega/service/implmentations/ProductServiceImpl.java
  Backend/src/main/java/com/project/omega/service/interfaces/OrderProductService.java
  Backend/src/main/java/com/project/omega/service/interfaces/OrderService.java
Labels: Admin Frontend, Backend

#120 Link Apis to actual backend
  AdminClient/src/app/products/store/products.reducer.ts
  AdminClient/src/environments/enviroment.common.ts
  Backend/src/main/java/com/project/omega/bean/dao/entity/Order.java
  Backend/src/main/java/com/project/omega/bean/dto/ProductDTO.java
  Backend/src/main/java/com/project/omega/controller/OrderController.java
  Backend/src/main/java/com/project/omega/controller/ProductController.java
  Backend/src/main/java/com/project/omega/enums/OrderStatus.java
  Backend/src/main/java/com/project/omega/service/implmentations/ProductServiceImpl.java
  Backend/src/main/java/com/project/omega/service/interfaces/ProductService.java
  DocAttachments/FlowCharts/ESRS Flows-Supplier Company Process.svg
  RepClient/package-lock.json
  RepClient/package.json
  RepClient/src/app/app.component.ts
  RepClient/src/app/app.module.ts
  RepClient/src/app/auth/auth.page.spec.ts
  RepClient/src/app/auth/store/auth.effects.ts
  RepClient/src/app/company/company.page.html
  RepClient/src/app/company/company.page.spec.ts
  RepClient/src/app/company/company.page.ts
  RepClient/src/app/company/store/company.actions.ts
  RepClient/src/app/company/store/company.effects.ts
  RepClient/src/app/company/store/company.reducer.ts
  RepClient/src/app/home/home.page.html
  RepClient/src/app/home/home.page.spec.ts
  RepClient/src/app/home/home.page.ts
  RepClient/src/app/home/store/home.actions.ts
  RepClient/src/app/home/store/home.effects.ts
  RepClient/src/app/home/store/home.reducer.ts
  RepClient/src/app/order/order.page.html
  RepClient/src/app/order/order.page.ts
  RepClient/src/app/order/store/order.actions.ts
  RepClient/src/app/order/store/order.effects.ts
  RepClient/src/app/order/store/order.reducer.ts
  RepClient/src/app/services/api-endpoint-creator.service.ts
  RepClient/src/app/shared/component/list-display-bottom-sheet/list-display-bottom-sheet.component.html
  RepClient/src/app/shared/component/list-display-bottom-sheet/model/list-display-data.model.ts
  RepClient/src/app/shared/model/company-items/item.model.ts
  RepClient/src/app/shared/model/home/company.model.ts
  RepClient/src/app/shared/model/home/supplier.model.ts
  RepClient/src/app/shared/model/order/clientModel.ts
  RepClient/src/app/shared/model/order/oder-product.model.ts
  RepClient/src/app/shared/test/empty-store-state.model.ts
  RepClient/src/environments/environment.common.ts
Labels: Admin Frontend, Backend, Rep Frontend

#142 Admin testing
  AdminClient/src/app/auth/auth.component.spec.ts
  AdminClient/src/app/auth/guads/auth.guard.spec.ts
  AdminClient/src/app/customers/customer-form/customer-form.component.spec.ts
  AdminClient/src/app/customers/customers.component.spec.ts
  AdminClient/src/app/customers/store/customers.effects.ts
  AdminClient/src/app/orders/order-details-dialog/order-details-dialog.component.spec.ts
  AdminClient/src/app/orders/orders.component.spec.ts
  AdminClient/src/app/products/product-details-dialog/product-details-dialog.component.spec.ts
  AdminClient/src/app/products/products.component.spec.ts
  AdminClient/src/app/products/products.component.ts
  AdminClient/src/app/services/loading-spinner/loading-spinner.service.spec.ts
  AdminClient/src/app/services/loading-spinner/loading-spinner.service.ts
  AdminClient/src/app/shared/empty.state.ts
  AdminClient/src/app/supplier/supplier-form/supplier-form.component.spec.ts
  AdminClient/src/app/supplier/supplier.component.spec.ts
  AdminClient/src/app/toolbar/toolbar.component.html
  AdminClient/src/app/toolbar/toolbar.component.spec.ts
  AdminClient/src/app/toolbar/toolbar.component.ts
  AdminClient/src/app/user/edit-user/edit-user.component.spec.ts
  AdminClient/src/app/user/user.component.spec.ts
Labels: Admin Frontend

#143 Order create api patch
  Backend/src/main/java/com/project/omega/authentication/JwtTokenUtil.java
  Backend/src/main/java/com/project/omega/controller/OrderController.java
Labels: Backend

#146 Data for frontend graphs
  Backend/src/main/java/com/project/omega/authentication/WebSecurityConfig.java
  Backend/src/main/java/com/project/omega/controller/StatsController.java
Labels: Backend

#145 Emailing service
  Backend/pom.xml
  Backend/src/main/java/com/project/omega/authentication/JwtRequestFilter.java
  Backend/src/main/java/com/project/omega/authentication/WebSecurityConfig.java
  Backend/src/main/java/com/project/omega/bean/dao/auth/VerificationToken.java
  Backend/src/main/java/com/project/omega/bean/dao/entity/User.java
  Backend/src/main/java/com/project/omega/controller/JwtAuthenticationController.java
  Backend/src/main/java/com/project/omega/controller/OrderController.java
  Backend/src/main/java/com/project/omega/controller/ProductController.java
  Backend/src/main/java/com/project/omega/controller/UserController.java
  Backend/src/main/java/com/project/omega/exceptions/TokenExpiredException.java
  Backend/src/main/java/com/project/omega/exceptions/UserDisabledException.java
  Backend/src/main/java/com/project/omega/exceptions/UserIsRetardException.java
  Backend/src/main/java/com/project/omega/helper/EmailConstants.java
  Backend/src/main/java/com/project/omega/helper/EmailSender.java
  Backend/src/main/java/com/project/omega/helper/TokenConstants.java
  Backend/src/main/java/com/project/omega/repository/VerificationTokenRepository.java
  Backend/src/main/java/com/project/omega/service/JwtUserDetailsService.java
  Backend/src/main/java/com/project/omega/service/implmentations/AuthenticationServiceImpl.java
  Backend/src/main/java/com/project/omega/service/implmentations/UserServiceImpl.java
  Backend/src/main/java/com/project/omega/service/implmentations/VerificationTokenServiceImpl.java
  Backend/src/main/java/com/project/omega/service/interfaces/AuthenticationService.java
  Backend/src/main/java/com/project/omega/service/interfaces/UserService.java
  Backend/src/main/java/com/project/omega/service/interfaces/VerificationTokenService.java
  Backend/src/test/java/com/project/testcontroller/ProductTestService.java
  Backend/src/test/java/com/project/testcontroller/SupplierTestService.java
  Backend/src/test/java/com/project/testcontroller/UserTestService.java
Labels: Backend

#147 Client unit testing
  Backend/src/main/java/com/project/omega/bean/dao/entity/Client.java
  Backend/src/main/java/com/project/omega/service/interfaces/ClientService.java
  Backend/src/test/java/com/project/testcontroller/ClientTestService.java
Labels: Backend

#148 Order unit testing
  Backend/src/main/java/com/project/omega/bean/dao/entity/Order.java
  Backend/src/main/java/com/project/omega/bean/dao/entity/OrderProduct.java
  Backend/src/test/java/com/project/testcontroller/OrderTestService.java
Labels: Backend

#150 Integration tests backend latest
  Backend/pom.xml
  Backend/src/main/java/com/project/omega/authentication/WebSecurityConfig.java
  Backend/src/main/java/com/project/omega/bean/dao/entity/Client.java
  Backend/src/main/java/com/project/omega/bean/dao/entity/Order.java
  Backend/src/main/java/com/project/omega/bean/dao/entity/OrderProduct.java
  Backend/src/main/java/com/project/omega/bean/dao/entity/Product.java
  Backend/src/main/java/com/project/omega/bean/dao/entity/Supplier.java
  Backend/src/main/java/com/project/omega/bean/dao/entity/User.java
  Backend/src/main/java/com/project/omega/bean/dto/ClientDTO.java
  Backend/src/main/java/com/project/omega/bean/dto/UserDTO.java
  Backend/src/main/java/com/project/omega/controller/ClientController.java
  Backend/src/main/java/com/project/omega/controller/JwtAuthenticationController.java
  Backend/src/main/java/com/project/omega/controller/OrderController.java
  Backend/src/main/java/com/project/omega/controller/ProductController.java
  Backend/src/main/java/com/project/omega/controller/SupplierController.java
  Backend/src/main/java/com/project/omega/controller/UserController.java
  Backend/src/test/java/com/project/integration/AdminRegistrationControllerTests.java
  Backend/src/test/java/com/project/integration/ClientRegistrationControllerTests.java
  Backend/src/test/java/com/project/integration/ProductControllerTests.java
  Backend/src/test/java/com/project/integration/ProductOrderControllerTests.java
  Backend/src/test/java/com/project/integration/RepresentativeRegistrationControllerTests.java
Labels: Backend

#152 Email password fix.
  Backend/src/main/java/com/project/omega/helper/EmailSender.java
Labels: Backend

#149 Logging
  .gitignore
  .travis.yml
  AdminClient/package-lock.json
  AdminClient/package.json
  AdminClient/src/app/app.component.spec.ts
  AdminClient/src/app/app.component.ts
  AdminClient/src/app/app.module.ts
  AdminClient/src/app/dashboard/dashboard.component.ts
  AdminClient/src/app/models/orders/order.model.ts
  AdminClient/src/app/reducer-logger.ts
  AdminClient/src/app/reducers/index.ts
  AdminClient/src/app/session-id.ts
  AdminClient/src/environments/enviroment.common.ts
  AdminClient/src/environments/environment.prod.ts
  AdminClient/src/environments/environment.ts
  Backend/.mvn/wrapper/MavenWrapperDownloader.java
  Backend/.mvn/wrapper/maven-wrapper.jar
  Backend/.mvn/wrapper/maven-wrapper.properties
  Backend/.travis.yml
  Backend/mvnw
  Backend/mvnw.cmd
  Backend/pom.xml
  Backend/src/main/java/com/project/omega/authentication/JwtRequestFilter.java
  Backend/src/main/java/com/project/omega/authentication/WebSecurityConfig.java
  Backend/src/main/java/com/project/omega/bean/dto/ClientLogDto.java
  Backend/src/main/java/com/project/omega/bean/dto/KafkaLogBackendDto.java
  Backend/src/main/java/com/project/omega/bean/dto/KafkaLogDto.java
  Backend/src/main/java/com/project/omega/bean/dto/KafkaLogFrontendDto.java
  Backend/src/main/java/com/project/omega/config/KafkaProducerConfig.java
  Backend/src/main/java/com/project/omega/controller/ClientController.java
  Backend/src/main/java/com/project/omega/controller/JwtAuthenticationController.java
  Backend/src/main/java/com/project/omega/controller/LogController.java
  Backend/src/main/java/com/project/omega/controller/OrderController.java
  Backend/src/main/java/com/project/omega/controller/ProductController.java
  Backend/src/main/java/com/project/omega/controller/RoleController.java
  Backend/src/main/java/com/project/omega/controller/SupplierController.java
  Backend/src/main/java/com/project/omega/controller/UserController.java
  Backend/src/main/java/com/project/omega/enums/LogLevel.java
  Backend/src/main/java/com/project/omega/logger/KafkaAppender.java
  Backend/src/main/java/com/project/omega/logger/KafkaEncoder.java
  Backend/src/main/java/com/project/omega/service/implmentations/KafkaProducerServiceImpl.java
  Backend/src/main/java/com/project/omega/service/interfaces/KafkaProducerService.java
  Backend/src/main/resources/application.properties
  Backend/src/main/resources/logback-spring.xml
  Backend/src/test/resources/logback-test-spring.xml
  RepClient/package-lock.json
  RepClient/package.json
  RepClient/src/app/app.component.spec.ts
  RepClient/src/app/app.component.ts
  RepClient/src/app/app.module.ts
  RepClient/src/app/reducer-logger.ts
  RepClient/src/app/reducers/index.ts
  RepClient/src/app/session-id.ts
  RepClient/src/environments/environment.prod.ts
  RepClient/src/environments/environment.ts
Labels: Admin Frontend, Backend, DevOps

#154 Logging updated
  AdminClient/src/app/app.component.ts
  AdminClient/src/app/auth/auth.component.spec.ts
  AdminClient/src/app/auth/auth.component.ts
  AdminClient/src/app/customers/customers.component.spec.ts
  AdminClient/src/app/customers/customers.component.ts
  AdminClient/src/app/dashboard/dashboard.component.spec.ts
  AdminClient/src/app/orders/orders.component.spec.ts
  AdminClient/src/app/orders/orders.component.ts
  AdminClient/src/app/products/products.component.spec.ts
  AdminClient/src/app/products/products.component.ts
  AdminClient/src/app/reducer-logger.ts
  AdminClient/src/app/reducers/index.ts
  AdminClient/src/app/session-id.ts
  AdminClient/src/app/supplier/supplier.component.spec.ts
  AdminClient/src/app/supplier/supplier.component.ts
  AdminClient/src/app/toolbar/toolbar.component.spec.ts
  AdminClient/src/app/toolbar/toolbar.component.ts
  AdminClient/src/app/user/user.component.spec.ts
  AdminClient/src/app/user/user.component.ts
  RepClient/src/app/add-customer/add-customer.page.ts
  RepClient/src/app/app.component.ts
  RepClient/src/app/auth/auth.page.spec.ts
  RepClient/src/app/auth/auth.page.ts
  RepClient/src/app/company/company.page.spec.ts
  RepClient/src/app/company/company.page.ts
  RepClient/src/app/home/home.page.spec.ts
  RepClient/src/app/home/home.page.ts
  RepClient/src/app/order/order.page.spec.ts
  RepClient/src/app/order/order.page.ts
  RepClient/src/app/reducer-logger.ts
  RepClient/src/app/reducers/index.ts
  RepClient/src/app/session-id.ts
Labels: Admin Frontend, Rep Frontend

#155 Logging updated
  AdminClient/src/app/app.module.ts
  AdminClient/src/environments/enviroment.common.ts
  RepClient/src/app/app.module.ts
  RepClient/src/environments/environment.common.ts
Labels: Admin Frontend, Rep Frontend
