Repository Quantium-Nonsense/ProjectOmega, pull requests merged in 2020-04, with the labels that each got.

#41 User management
  .gitignore
  .idea/.gitignore
  .idea/ProjectOmega.iml
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  Backend/sprintone/pom.xml
  Backend/sprintone/sprintone.iml
  Backend/sprintone/src/main/java/com/project/Application.java
  Backend/sprintone/src/main/java/com/project/jwt/bean/ApplicationUser.java
  Backend/sprintone/src/main/java/com/project/jwt/constants/SecurityConstants.java
  Backend/sprintone/src/main/java/com/project/jwt/controller/UserController.java
  Backend/sprintone/src/main/java/com/project/jwt/filter/JWTAuthenticationFilter.java
  Backend/sprintone/src/main/java/com/project/jwt/filter/JWTAuthorizationFilter.java
  Backend/sprintone/src/main/java/com/project/jwt/repository/ApplicationUserRepository.java
  Backend/sprintone/src/main/java/com/project/jwt/service/UserDetailsServiceImpl.java
  Backend/sprintone/src/main/java/com/project/jwt/websecurity/WebSecurity.java
  Backend/sprintone/src/main/java/com/project/omega/bean/BaseEntity.java
  Backend/sprintone/src/main/java/com/project/omega/bean/User.java
  Backend/sprintone/src/main/java/com/project/omega/controller/AdminController.java
  Backend/sprintone/src/main/java/com/project/omega/controller/UserController.java
  Backend/sprintone/src/main/java/com/project/omega/enums/RoleEnum.java
  Backend/sprintone/src/main/java/com/project/omega/exceptions/DuplicateUserException.java
  Backend/sprintone/src/main/java/com/project/omega/exceptions/NoRecordsFoundException.java
  Backend/sprintone/src/main/java/com/project/omega/exceptions/UserNotFoundException.java
  Backend/sprintone/src/main/java/com/project/omega/helper/Constant.java
  Backend/sprintone/src/main/java/com/project/omega/repository/UserRepository.java
  Backend/sprintone/src/main/java/com/project/omega/service/UserService.java
  Backend/sprintone/src/main/java/com/project/omega/service/UserServiceImpl.java
  Backend/sprintone/src/main/java/com/project/sprintone/SprintoneApplication.java
  Backend/sprintone/src/main/resources/application.properties
  Backend/sprintone/src/test/java/com/project/OmegaApplicationTests.java
  Backend/sprintone/src/test/java/com/project/testcontroller/UserTestService.java
  Backend/sprintone/src/test/java/com/timeline/structure/sprintone/SprintoneApplicationTests.java
Labels: Backend

#46 #44: Create Primary Layout
  AdminClient/package-lock.json
  AdminClient/package.json
  AdminClient/src/app/app-routing.module.ts
  AdminClient/src/app/app.component.html
  AdminClient/src/app/app.component.spec.ts
  AdminClient/src/app/app.component.ts
  AdminClient/src/app/app.module.ts
  AdminClient/src/app/customers/customers.component.html
  AdminClient/src/app/customers/customers.component.scss
  AdminClient/src/app/customers/customers.component.spec.ts
  AdminClient/src/app/customers/customers.component.ts
  AdminClient/src/app/dashboard/dashboard.component.html
  AdminClient/src/app/dashboard/dashboard.component.scss
  AdminClient/src/app/dashboard/dashboard.component.spec.ts
  AdminClient/src/app/dashboard/dashboard.component.ts
  AdminClient/src/app/styles/_containers.scss
  AdminClient/src/app/styles/_functions.scss
  AdminClient/src/app/styles/_grid.scss
  AdminClient/src/app/styles/_mixins.sass
  AdminClient/src/app/styles/_utilities.scss
  AdminClient/src/app/styles/_variables.scss
  AdminClient/src/app/styles/mixins/_breakpoints.scss
  AdminClient/src/app/styles/mixins/_container.scss
  AdminClient/src/app/styles/mixins/_utilities.scss
  AdminClient/src/app/styles/styles.scss
  AdminClient/src/app/styles/utilities/_api.scss
  AdminClient/src/app/styles/vendor/_rfs.scss
  AdminClient/src/index.html
  AdminClient/src/styles.scss
Labels: Admin Frontend

#69 Admin sidenav
  AdminClient/src/app/app.component.html
  AdminClient/src/app/app.component.ts
  AdminClient/src/app/app.module.ts
  AdminClient/src/app/styles/styles.scss
Labels: Admin Frontend

#45 #34: Admin Client login screen
  .eslintrc.js
  AdminClient/angular.json
  AdminClient/package-lock.json
  AdminClient/package.json
  AdminClient/src/app/app-routing.module.ts
  AdminClient/src/app/app.component.html
  AdminClient/src/app/app.component.ts
  AdminClient/src/app/app.module.ts
  AdminClient/src/app/auth/auth-routing.module.ts
  AdminClient/src/app/auth/auth.component.html
  AdminClient/src/app/auth/auth.component.scss
  AdminClient/src/app/auth/auth.component.spec.ts
  AdminClient/src/app/auth/auth.component.ts
  AdminClient/src/app/auth/auth.module.ts
  AdminClient/src/app/auth/auth.page.html
  AdminClient/src/app/auth/auth.page.spec.ts
  AdminClient/src/app/auth/guads/auth.guard.spec.ts
  AdminClient/src/app/auth/guads/auth.guard.ts
  AdminClient/src/app/auth/store/auth.actions.ts
  AdminClient/src/app/auth/store/auth.effects.ts
  AdminClient/src/app/auth/store/auth.reducer.ts
  AdminClient/src/app/shared/test/test.module.ts
  AdminClient/src/app/styles/_utilities.scss
  AdminClient/src/bootstrap-styles/_containers.scss
  AdminClient/src/bootstrap-styles/_functions.scss
  AdminClient/src/bootstrap-styles/_grid.scss
  AdminClient/src/bootstrap-styles/_mixins.sass
  AdminClient/src/bootstrap-styles/_utilities.scss
  AdminClient/src/bootstrap-styles/_variables.scss
  AdminClient/src/bootstrap-styles/mixins/_breakpoints.scss
  AdminClient/src/bootstrap-styles/mixins/_container.scss
  AdminClient/src/bootstrap-styles/mixins/_utilities.scss
  AdminClient/src/bootstrap-styles/styles.scss
  AdminClient/src/bootstrap-styles/utilities/_api.scss
  AdminClient/src/bootstrap-styles/vendor/_rfs.scss
  AdminClient/src/index.html
  AdminClient/src/styles.scss
  RepClient/src/app/app.component.spec.ts
Labels: Admin Frontend, DevOps, Rep Frontend

#82 Dashboard creation
  AdminClient/src/app/app.component.html
  AdminClient/src/app/app.module.ts
  AdminClient/src/app/dashboard/dashboard.component.html
  AdminClient/src/app/dashboard/dashboard.component.scss
  AdminClient/src/app/shared/shared.module.ts
  AdminClient/src/index.html
  AdminClient/src/styles.scss
  RepClient/package-lock.json
  RepClient/src/global.scss
  RepClient/src/theme/util.scss
Labels: Admin Frontend, Rep Frontend, enhancement

#80 Added products module
  AdminClient/src/app/app-routing.module.ts
  AdminClient/src/app/app.component.html
  AdminClient/src/app/app.component.scss
  AdminClient/src/app/app.module.ts
  AdminClient/src/app/auth/auth.component.ts
  AdminClient/src/app/dashboard/dashboard.component.html
  AdminClient/src/app/products/product-details-dialog/product-details-dialog.component.html
  AdminClient/src/app/products/product-details-dialog/product-details-dialog.component.scss
  AdminClient/src/app/products/product-details-dialog/product-details-dialog.component.spec.ts
  AdminClient/src/app/products/product-details-dialog/product-details-dialog.component.ts
  AdminClient/src/app/products/products-routing.module.ts
  AdminClient/src/app/products/products.component.html
  AdminClient/src/app/products/products.component.scss
  AdminClient/src/app/products/products.component.spec.ts
  AdminClient/src/app/products/products.component.ts
  AdminClient/src/app/products/products.module.ts
  AdminClient/src/app/shared/delete-dialog/delete-dialog.component.html
  AdminClient/src/app/shared/delete-dialog/delete-dialog.component.scss
  AdminClient/src/app/shared/delete-dialog/delete-dialog.component.spec.ts
  AdminClient/src/app/shared/delete-dialog/delete-dialog.component.ts
  AdminClient/src/app/shared/delete-dialog/delete-dialog.module.ts
  AdminClient/src/bootstrap-styles/_containers.scss
  AdminClient/src/data/products/products-datasource.ts
  AdminClient/src/data/supplier/supplier-datasource.ts
  AdminClient/src/index.html
  AdminClient/src/styles.scss
Labels: Admin Frontend

#84 Azure production/development Piplines
  AdminClient/Dockerfile
  AdminClient/nginx.conf
  Devops/k8s/backend-clusterip-service.yaml
  Devops/k8s/backend-deployment2.yaml
  Devops/k8s/backend-loadbalancer-service.yaml
  Devops/k8s/frontend-deplyoment.yaml
  Devops/k8s/frontend-loadbalancer-service.yaml
  Devops/secretCreator
  azure-pipelines-dev.yml
  azure-pipelines-pro.yml
  backend/Dockerfile
  backend/pom.xml
  backend/src/main/resources/application.properties
Labels: Admin Frontend, Backend, DevOps

#88 enviroment variables, build plugins
  .gitignore
  Backend/Dockerfile
  Backend/pom.xml
  Backend/src/main/resources/application.properties
  Devops/k8s/backend-deployment2.yaml
Labels: Backend, DevOps

#91 uppercase/lowercase
  Backend/azure-pipline.yaml
  azure-pipelines-dev.yml
  azure-pipelines-pro.yml
Labels: Backend

#93 Supplier patched
  Backend/src/main/java/com/project/omega/authentication/WebSecurityConfig.java
  Backend/src/main/java/com/project/omega/bean/dao/entity/Client.java
  Backend/src/main/java/com/project/omega/bean/dao/entity/Product.java
  Backend/src/main/java/com/project/omega/bean/dao/entity/Supplier.java
  Backend/src/main/java/com/project/omega/bean/dto/ProductDTO.java
  Backend/src/main/java/com/project/omega/controller/ClientController.java
  Backend/src/main/java/com/project/omega/controller/ProductController.java
  Backend/src/main/java/com/project/omega/controller/SupplierController.java
  Backend/src/main/java/com/project/omega/repository/ProductRepository.java
  Backend/src/main/java/com/project/omega/repository/SupplierRepository.java
  Backend/src/main/java/com/project/omega/service/implmentations/ProductServiceImpl.java
  Backend/src/main/java/com/project/omega/service/implmentations/SupplierServiceImpl.java
  Backend/src/main/java/com/project/omega/service/interfaces/ProductService.java
  Backend/src/main/java/com/project/omega/service/interfaces/SupplierService.java
  Backend/src/main/resources/messages_en.properties
  Backend/src/test/java/com/project/testcontroller/ProductTestService.java
  Backend/src/test/java/com/project/testcontroller/SupplierTestService.java
Labels: Backend

#89 Order: Request & Response properties
  Backend/src/main/java/com/project/omega/bean/dao/entity/Order.java
  Backend/src/main/java/com/project/omega/bean/dao/entity/OrderProduct.java
  Backend/src/main/java/com/project/omega/controller/OrderController.java
Labels: Backend

#62 Customer Management Admin Client
  .stylelintignore
  AdminClient/.stylelintrc.json
  AdminClient/package-lock.json
  AdminClient/src/app/app-routing.module.ts
  AdminClient/src/app/app.component.html
  AdminClient/src/app/app.component.spec.ts
  AdminClient/src/app/app.module.ts
  AdminClient/src/app/auth/auth.component.spec.ts
  AdminClient/src/app/customers/customer-form/customer-form.component.html
  AdminClient/src/app/customers/customer-form/customer-form.component.scss
  AdminClient/src/app/customers/customer-form/customer-form.component.spec.ts
  AdminClient/src/app/customers/customer-form/customer-form.component.ts
  AdminClient/src/app/customers/customers-routing.module.ts
  AdminClient/src/app/customers/customers.component.html
  AdminClient/src/app/customers/customers.component.scss
  AdminClient/src/app/customers/customers.component.spec.ts
  AdminClient/src/app/customers/customers.component.ts
  AdminClient/src/app/customers/customers.module.ts
  AdminClient/src/app/customers/store/customers.actions.ts
  AdminClient/src/app/customers/store/customers.effects.ts
  AdminClient/src/app/customers/store/customers.reducer.ts
  AdminClient/src/app/dashboard/dashboard.component.html
  AdminClient/src/app/dashboard/dashboard.component.scss
  AdminClient/src/app/dashboard/dashboard.component.ts
  AdminClient/src/app/models/customers/customer.model.ts
  AdminClient/src/app/models/dasbhboard/dashboard-link.model.ts
  AdminClient/src/app/reducers/index.ts
  AdminClient/src/app/shared/components/popup-dialog/popup-dialog.component.html
  AdminClient/src/app/shared/components/popup-dialog/popup-dialog.component.ts
  AdminClient/src/app/shared/model/popup-dialog-data.model.ts
  AdminClient/src/app/shared/shared.module.ts
  AdminClient/src/app/toolbar/toolbar.component.html
  AdminClient/src/app/toolbar/toolbar.component.scss
  AdminClient/src/app/toolbar/toolbar.component.ts
  AdminClient/src/app/user/edit-user/edit-user.component.spec.ts
  AdminClient/src/app/user/store/user.effects.ts
  AdminClient/src/app/user/user.component.spec.ts
  AdminClient/src/app/user/user.module.ts
  AdminClient/src/environments/enviroment.common.ts
  AdminClient/src/styles.scss
Labels: Admin Frontend

#102 Security user patch
  Backend/src/main/java/com/project/omega/authentication/SetupDataLoaderForRoleAndPrivilege.java
  Backend/src/main/java/com/project/omega/authentication/WebSecurityConfig.java
  Backend/src/main/java/com/project/omega/bean/dao/entity/User.java
  Backend/src/main/java/com/project/omega/bean/dto/RoleDTO.java
  Backend/src/main/java/com/project/omega/bean/dto/UserDTO.java
  Backend/src/main/java/com/project/omega/bean/dto/UserResponse.java
  Backend/src/main/java/com/project/omega/controller/AdminRoleController.java
  Backend/src/main/java/com/project/omega/controller/JwtAuthenticationController.java
  Backend/src/main/java/com/project/omega/controller/RoleController.java
  Backend/src/main/java/com/project/omega/controller/UserController.java
  Backend/src/main/java/com/project/omega/helper/PasswordConstraintValidator.java
  Backend/src/main/java/com/project/omega/helper/PasswordMatchesValidator.java
  Backend/src/main/java/com/project/omega/helper/RoleBasedConstant.java
  Backend/src/main/java/com/project/omega/service/JwtUserDetailsService.java
  Backend/src/main/java/com/project/omega/service/implmentations/AdminRoleServiceImpl.java
  Backend/src/main/java/com/project/omega/service/implmentations/PrivilegeServiceImpl.java
  Backend/src/main/java/com/project/omega/service/implmentations/RoleServiceImpl.java
  Backend/src/main/java/com/project/omega/service/implmentations/UserServiceImpl.java
  Backend/src/main/java/com/project/omega/service/interfaces/AdminRoleService.java
  Backend/src/main/java/com/project/omega/service/interfaces/PrivilegeService.java
  Backend/src/main/java/com/project/omega/service/interfaces/RoleService.java
  Backend/src/main/resources/application.properties
  Backend/src/main/resources/messages_en.properties
Labels: Backend

#106 Included user id, roles, privileges and email in jwt token response.
  Backend/src/main/java/com/project/omega/authentication/JwtTokenUtil.java
  Backend/src/main/java/com/project/omega/authentication/SetupDataLoaderForRoleAndPrivilege.java
  Backend/src/main/java/com/project/omega/service/implmentations/AuthenticationServiceImpl.java
Labels: Backend
